<div class="paneldecontrol">
	<%= render "users/formulario" %>
</div>

<div class="principal">
	<%= link_to "Eliminar tu cuenta", borrar_cuenta_path(), data: { confirm: '¿Estás seguro de querer borrar tu cuenta y todas tus canciones?' } %>
</div>


