<div class="paneldecontrol">
	<%= render "users/formulario" %>
</div>
<div class="principal">
	<table class="table">
		<thead>
    		<tr>
      			<th>Nombre</th>
      			<th>URL</th>
      			<th>Tiempo</th>
      			<th>Artista</th>
      			<th>Álbum</th>
      			<th>Reproc.</th>
    		</tr>
  		</thead>
  		<tbody>
    		<tr>
      			<td>…</td>
      			<td>…</td>
      			<td>…</td>
      			<td>…</td>
      			<td>…</td>
      			<td>…</td>
    		</tr>
  		</tbody>
	</table>
</div>
